{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta name="description" content="Ralyn-Admin">

	<title>Ralyn |{% block title %} {% endblock title %}</title>

	<link href="{% static 'images/ralynn.svg' %}" rel="icon">
	<link href="{% static 'images/ralynn.svg' %}" rel="apple-touch-icon">

	<!-- GOOGLE FONTS -->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800&family=Poppins:wght@300;400;500;600;700;800;900&family=Roboto:wght@400;500;700;900&display=swap" rel="stylesheet"> 

	<link href="https://cdn.materialdesignicons.com/4.4.95/css/materialdesignicons.min.css" rel="stylesheet" />

	<!-- PLUGINS CSS STYLE -->
	<link href="{% static 'plugins/daterangepicker/daterangepicker.css' %}" rel="stylesheet">
	<link href="{% static 'plugins/simplebar/simplebar.css' %}" rel="stylesheet" />
	<link href="{% static 'plugins/swiper/swiper-bundle.min.css' %}" rel='stylesheet'>

	<!-- No Extra plugin used -->

	<link href="{% static 'plugins/data-tables/datatables.bootstrap5.min.css' %}" rel='stylesheet'>
	<link href="{% static 'plugins/data-tables/responsive.datatables.min.css' %}" rel='stylesheet'>
	<!-- Ekka CSS -->
	<link id="ekka-css" href="{% static 'css/ekka.css' %}" rel="stylesheet" />

	<script type="text/javascript">
		user = '{{request.user}}'
	
		function getToken(name) {
			let cookieValue = null;
			if (document.cookie && document.cookie !== '') {
				const cookies = document.cookie.split(';');
				for (let i = 0; i < cookies.length; i++) {
					const cookie = cookies[i].trim();
					// Does this cookie string begin with the name we want?
					if (cookie.substring(0, name.length + 1) === (name + '=')) {
						cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
						break;
					}
				}
			}
			return cookieValue;
		}
		const csrftoken = getToken('csrftoken');

		function getCookie(name) {
			var cookieArr = document.cookie.split(";");

			for(var i = 0; i < cookieArr.length; i++) {
				var cookiePair = cookieArr[i].split("=");

				if(name == cookiePair[0].trim()) {

					return decodeURIComponent(cookiePair[1]);
				}
			}
			return null;
		}
		var cart = JSON.parse(getCookie('cart'))
		if(cart == undefined) {
			cart = {}
			console.log('Cart was created')
			document.cookie = 'cart=' + JSON.stringify(cart) + ";domain=;path=/"
		}
		console.log('Cart:', cart)
	</script>


</head>

<body class="ec-header-fixed ec-sidebar-fixed ec-sidebar-light ec-header-light" id="body">
    <!--  WRAPPER  -->
	<div class="wrapper">
		<!--  PAGE WRAPPER -->
		<div class="ec-page-wrapper">
			{% include 'partials/_sidebar_erm.html' %}
			{% include 'partials/_navbar_erm.html' %}
			{% include 'partials/_message.html' %}
			{% block content %}

			{% endblock content %}

			{% include 'partials/_footer_erm.html' %}
		</div>
    </div> 
    <!-- End Wrapper -->
	<script>
        setTimeout(function(){
            if ($('#msg').length > 0 ){
                $('#msg').remove();
            }
        }, 4000)
    </script>
	<!-- Common Javascript -->
	<script src="{% static 'plugins/jquery/jquery-3.5.1.min.js' %}"></script>
	<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
	<script src="{% static 'plugins/simplebar/simplebar.min.js' %}"></script>
	<script src="{% static 'plugins/jquery-zoom/jquery.zoom.min.js' %}"></script>
	<script src="{% static 'plugins/slick/slick.min.js' %}"></script>

	<!-- Chart -->
	<script src="{% static 'plugins/charts/Chart.min.js' %}"></script>
	<script src="{% static 'js/chart.js' %}"></script>

	<!-- Datatables -->
	<script src="{% static 'plugins/data-tables/jquery.datatables.min.js' %}"></script>
	<script src="{% static 'plugins/data-tables/datatables.bootstrap5.min.js' %}"></script>
	<script src="{% static 'plugins/data-tables/datatables.responsive.min.js' %}"></script>

	<!-- Google map chart -->
	<script src="{% static 'plugins/charts/google-map-loader.js' %}"></script>
	<script src="{% static 'plugins/charts/google-map.js' %}"></script>

	<!-- Date Range Picker -->
	<script src="{% static 'plugins/daterangepicker/moment.min.js' %}"></script>
    <script src="{% static 'plugins/daterangepicker/daterangepicker.js' %}"></script>
	<script src="{% static 'js/date-range.js' %}"></script>

	<!-- Option Switcher -->
	<script src="{% static 'plugins/options-sidebar/optionswitcher.js' %}"></script>

	<!-- Ralyn Custom -->
	<script src="{% static 'js/ekka.js' %}"></script>
	<script src="{% static 'js/cart.js' %}"></script>
</body>
</html>
