{% extends 'base.html' %}

{% block content %}
<div class="row py-5">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <div class="card border-0">
            <div class="card-body">
                <div class="card-title py-3" style="text-align: center;">
                    <p class="py-3">Your password has been successfully changed</p>
                </div>
                
            </div>
            <div class="align-center" style="text-align: center;">
                <small>You can now <a href="{% url 'login' %}">login</a></small>
            </div>
        </div>
    </div>
    <div class="col-md-4"></div>
</div>
{% endblock content %}