{% extends 'base_erm.html' %}
{% block title %} Dashboard {% endblock title %}

{% block content %}
<!-- CONTENT WRAPPER -->
<div class="ec-content-wrapper">
    <div class="content">
<!-- Top Statistics -->
        <div class="row">
            <div class="col-xl-3 col-sm-6 p-b-15 lbl-card">
                <div class="card card-mini dash-card card-1">
                    <div class="card-body">
                        <h2 class="mb-1">{{all_customers}}</h2>
                        <p>Total Customers</p>
                        <span class="mdi mdi-account-arrow-left"></span>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-sm-6 p-b-15 lbl-card">
                <div class="card card-mini dash-card card-2">
                    <div class="card-body">
                        <h2 class="mb-1">{{all_products}}</h2>
                        <p>Total Products</p>
                        <span class="mdi mdi-palette-advanced"></span>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-sm-6 p-b-15 lbl-card">
                <div class="card card-mini dash-card card-3">
                    <div class="card-body">
                        <h2 class="mb-1">{{all_successfull_order}}</h2>
                        <p>All Successfull Orders</p>
                        <span class="mdi mdi-cart"></span>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-sm-6 p-b-15 lbl-card">
                <div class="card card-mini dash-card card-4">
                    <div class="card-body">
                        <h2 class="mb-1">{{all_pending_order}}</h2>
                        <p>All Pending Orders</p>
                        <span class="mdi mdi-package-variant"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> 

{% endblock content %}