{% extends 'base_erm.html' %}
{% block title %} Product List {% endblock title %}

{% block content %}
<!-- CONTENT WRAPPER -->
<div class="ec-content-wrapper mt-5">
    <div class="content">
        <div class="breadcrumb-wrapper d-flex align-items-center justify-content-between">
            <div>
                <h1>Product</h1>
                <p class="breadcrumbs"><span><a href="{% url 'dashboard' %}">Home</a></span>
                    <span><i class="mdi mdi-chevron-right"></i></span>Product</p>
            </div>
            <div>
                <a href="{% url 'add_product' %}" class="btn btn-primary"> Add Porduct</a>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="card card-default">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table id="responsive-data-table" class="table"
                                style="width:100%">
                                <thead>
                                    <tr>
                                        <th>Product</th>
                                        <th>Name</th>
                                        <th>Category</th>
                                        <th>Stock</th>
                                        <th>Price</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    {% for product in product %}
                                    <tr>
                                        <td><img class="tbl-thumb" src="{{product.imageURL}}" alt="Product Image" /></td>
                                        <td>{{product.name}}</td>
                                        <td>{{product.category}}</td>
                                        <td>{{product.store_quantity}}</td>
                                        <td>{{product.price}}</td>
                                        <td>
                                            <div class="btn-group mb-1">
                                                <button type="button"
                                                    class="btn btn-outline-success">Info</button>
                                                <button type="button"
                                                    class="btn btn-outline-success dropdown-toggle dropdown-toggle-split"
                                                    data-bs-toggle="dropdown" aria-haspopup="true"
                                                    aria-expanded="false" data-display="static">
                                                    <span class="sr-only">Info</span>
                                                </button>

                                                <div class="dropdown-menu">
                                                    <a class="dropdown-item" href="{% url 'edit_product' product.id %}">Edit</a>
                                                    <a class="dropdown-item" style="cursor:pointer;" data-bs-toggle="modal" data-bs-target="#deleteProductModal{{product.id}}">Delete</a>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    {% include 'erm/delete_product.html' %}
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- End Content -->
</div> <!-- End Content Wrapper -->
{% endblock content %}