{% extends 'base_erm.html' %}

{% block title %} Cart {% endblock title %}

{% block content %}


<!-- CONTENT WRAPPER -->
<div class="ec-content-wrapper">
    <div class="content">
        <div class="breadcrumb-wrapper breadcrumb-wrapper-2">
            <h1>Cart</h1>
            <p class="breadcrumbs"><span><a href="{% url 'index' %}">Home</a></span>
                <span><i class="mdi mdi-chevron-right"></i><a href="{% url 'products' %}">Products</a></span>
                <span><i class="mdi mdi-chevron-right"></i></span>Cart
            </p>
        </div>
        <div class="card invoice-wrapper border-radius border bg-white p-4">

            <div class="table-responsive">
                <table class="table mt-3 table-striped table-responsive table-responsive-large inv-tbl"
                    style="width:100%">
                    <thead>
                        <tr>
                            
                            <th>Image</th>
                            <th>Item</th>
                            <th>Quantity</th>
                            <th>Unit_Cost</th>
                            <th>Total</th>
                        </tr>
                    </thead>

                    <tbody>
                        {% for item in items %}
                        <tr>    
                            <td><img class="invoice-item-img" src="{{item.product.imageURL}}" alt="product-image" /></td>
                            <td>{{item.product.name}}</td>
                            <td class="quantity">
                                <input type="number" class="Qty" data-product="{{item.product.id}}" value="{{item.quantity}}" name="quantity" min="0" max="100" style="width: 80%;">
                            </td>
                            <td>${{item.product.price}}</td>
                            <td id="sub_total">${{item.get_total}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

            <div class="row justify-content-end inc-total">
                <div class="col-lg-3 col-xl-3 col-xl-3 ml-sm-auto">
                    <ul class="list-unstyled mt-3">
                        <li class="mid pb-3 text-dark"> Total Quantity
                            <span class="d-inline-block float-right text-default" id="sum_quantity">{{order.get_cart_items}}</span>
                        </li>


                        <li class="pb-3 text-dark">Total
                            <span class="d-inline-block float-right" id="final_total">${{order.get_cart_total}}</span>
                        </li>
                    </ul>
                    {% if request.user.is_authenticated %}
                    <a href="{% url 'checkout' %}" class="btn btn-block mt-2 btn-primary btn-pill"> Procced to
                        Checkout</a>
                    {% else %}
                    <a href="{% url 'register' %}" class="btn btn-block mt-2 btn-primary btn-pill"> Sign up to continue</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div> <!-- End Content -->
</div> <!-- End Content Wrapper -->

{% endblock content %}